
:root{
    --wallpaperColorLight: rgb(50, 220, 100,1);
    --wallpaperColorDark: rgb(25, 110, 50, 1);
}


/*Taken from https://codepen.io/dope/pen/OJOzay*/
.picture{
    max-width: 50%;
    max-height: 50%;
    margin: 5px;
    background: #fff;
    padding: 5%;
    border-style: solid;
    border-width: 15px;
    border-top-color: rgba(0, 0, 0, 0.8);
    border-right-color: rgba(0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0.8);
    border-left-color: rgba(0, 0, 0);
    box-shadow: 2px 2px 4px rgba(0,0,0,.6);
}

/*Grid taken from https://codepen.io/Tiago-Carrico/pen/abMojPp*/
/*His grid == my section with id="gallery" and class="cat-gallery"*/
/*His item == my img with class="catPicture"*/
/*maybe i also need to include his grid? idk*/

/*
.cat-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-auto-flow: row dense;
    grid-gap: 15px;
}*/

.cat-gallery{
    display: flex;
    flex-direction: row;
}

.old_wallpaper_background{
    z-index: -1;
    height: 500%;
    width: 120%;
    background: repeating-linear-gradient(-45deg, var(--wallpaperColorLight), var(--wallpaperColorLight) 75px, var(--wallpaperColorDark) 0, var(--wallpaperColorDark) 150px);
    position: absolute;
    top: 0px;
    left: 0px;
}


