
:root{
    --wallpaperColorLight: rgb(50, 220, 100,1);
    --wallpaperColorDark: rgb(25, 110, 50, 1);
}


/*Taken from https://codepen.io/dope/pen/OJOzay*/
.picture{
    max-width: 50%;
    max-height: 50%;
    margin: 5px;
    background: #fff;
    padding: 5%;
    border-style: solid;
    border-width: 15px;
    border-top-color: rgba(0, 0, 0, 0.8);
    border-right-color: rgba(0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0.8);
    border-left-color: rgba(0, 0, 0);
    box-shadow: 2px 2px 4px rgba(0,0,0,.6);
}

/*TODO add cool appearing animation to pictures, so the pictures appearing so erratically due to my bad code isn't so jarring*/


.cat-gallery{
    display: flex;
    flex-direction: row;
}

.old_wallpaper_background{
    z-index: -1;
    height: 500%;
    width: 120%;
    background: repeating-linear-gradient(-45deg, var(--wallpaperColorLight), var(--wallpaperColorLight) 75px, var(--wallpaperColorDark) 0, var(--wallpaperColorDark) 150px);
    position: absolute;
    top: 0px;
    left: 0px;
}


